<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="onion.qj7xm4nhktrrqen7.vsvit.sinh.prhr.java.uradio"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:icon="@drawable/ura"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <service 
            android:enabled="true" 
            android:name=".PlayService"
            android:exported="true" 
            android:process=":uradio_service"
            android:stopWithTask="true" > 
        </service> 
        

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".UradioActivity"
            android:label="@string/title_activity_uradio" 
            android:screenOrientation="portrait" >
            
        </activity>

        <activity

            android:name=".UradioActivity2"
            android:label="@string/title_activity_uradio" 
            android:screenOrientation="portrait" >

        </activity>

        <activity android:name=".About"
              android:label="@string/about_title"
              android:theme="@android:style/Theme.Dialog">
        </activity>

    </application>

</manifest>
